@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
header {
    background-image: url('../../public/img/fundo_header.jpg');
    text-align: center;
}
header div {
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
    height: 47vh;
}
header img {
    margin-top: 30px;
    margin-bottom: 25px;
    width: 48vh;
}
header h2{
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
}
.container {
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
}
main h1{
    font-family: 'Playfair Display SC', serif;
    font-size: 2rem;
}
main h2 {
    font-family: 'Dosis', sans-serif;
    color:#8A8A8A;
    font-size: 1.2rem;
}
.caixa{
    width: 80vw;
    margin-top: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}
.texto_sobre {
    margin-top: 3vh;
    margin-left: 1.7vh;
    margin-right: 1.7vh;
}
.caixa p{
    text-align: justify;
}
.negrito {
    font-weight: bolder;
}
.foto_sobre img{
    width: 50vw;
    border-radius: 200vw;
}
.texto_sobre p {
    font-family: 'Barlow', sans-serif;
    color: black;
}

.imagem_marca {
    width: 50vw;
    margin: 0 0 5vw 0;
}
form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;
}
.botao {
    margin: 0px;
    width: 80px;
    height: 30px;
    color: white;
    background-color: #DA811A;
    border:none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.botao:hover {
    cursor: pointer;
}
footer{
    background-color: orange;
}
.caixa_footer{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.elemento_footer {
    display: flex;
    flex-direction: row;
}
.na_coluna {
    display: flex;
    flex-direction: column;
}
.na_coluna h5 {
    margin: 0;
    padding: 0;
}
.fim_footer{
    background-color: black;
    color: white;
    text-align: center;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.textos_footer {
    padding-left: 2.5vw;
}
@media screen and (min-width:1024px) {
    header div {
        width: 120vh;
        height: 75vh;
    }
    header img {
        margin-top: 40px;
        margin-bottom: 30px;
        width: 85vh;
    }
    header h2{
        margin-left: 4vh;
        margin-right: 4vh;
        font-size: 35px;
        font-size: 2.2rem;
    }
    .container {
        border: 1px solid black;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    main h1{
        margin: 0px;
        padding: 0px;
    }
    .caixa{
        width: 55vw;
        flex-direction: row;
    }
    .texto_sobre {
        margin-top: 0vh;
        margin-left: 4vw;
        margin-right: 3vw;
    }
    .foto_sobre img{
        width: 25vw;
        border-radius: 0px;
    }
    .marcas{
        width: 55vw;
        margin-top: 1.5vw;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid red;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .imagem_marca {
        width: 15vw;
        margin-bottom: 1vw;
        margin-left: auto;
        margin-right: auto;
    }
    form {
        margin-top: 2.5vw;
    }
    form input {
        display: inline-block;
        margin-right: 2vw;
        width: 20vw;
    }
    .caixa_footer{
        width: 100%;
        flex-direction: row;
        height: 17vw;
    }
    .mapa {
        width: 50vw;
    }
    .map-responsive iframe{
        height: 100%;
        border:5px solid;
    }
    .map-responsive{
        padding-bottom:17.2%;
    }
}